

body {
    background-color: #1A3CEE;
    color: #ffffff;
    line-height: 1.5;
    font-family: 'Cagliostro';
    font-weight: 400;
    font-size: 16px;
}

p {
    font-family: 'Cagliostro';
    font-size:12px;
    font-weight: 400;
}

input {
    background-color: #FFFFFF;
    padding: 12px;/*some padding*/
    color: lightgreen;
    font-size: 24px;
    font-family: 'Cagliostro';
    border-radius: 10px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

button {
    background-color: #FFFFFF;
    color: #131D32;
    padding: 12px 20px;
    font-family: 'Dark Groteque';
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

button:hover {
    border-color: gray;
    border-style: solid;
    border-width: 1px;
}

.green {
    color: lightgreen;
    font-size: 56px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}